.experiencia {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 3.75rem;
  max-width: 40ch;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  background: #f5f5f5;
  margin-bottom: 1.25rem;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #8fd558 0%, #2fb423 100%);
  position: absolute;
  top: 1.25rem;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 1.4rem;
  left: -6.25rem;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-content: start;
}

.empresa-habilidade .it-skl {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 0.3125rem 0.625rem;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .empresa-ano::before {
    content: "Ano | ";
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
