body {
  margin: 0;
  font-family: "Libre Franklin", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  line-height: 1;
  max-width: 5ch;
  font-weight: 900;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
