.header {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.5rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  text-decoration: none;
  color: #141414;
  display: block;
  padding: 0.625rem 1.25rem;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
  }

  .header-menu a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}
